/* Variables */
:root {
  --color-1: #3fd2c7;
  --color-2: #99ddff;
  --color-3: #00458b;
  --font: dimgrey;
  --shadow: 0 1px 5px 3px lightgrey;
}
* { 
  box-sizing: border-box;
}
html {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--font);
}
body {
  padding: 0.5rem;
}
/* Global elements */
a:link {
  color: var(--color-3);
}
a:hover {
  text-decoration: none;
}
h1, h2 {
  color: var(--color-3);
}
.button {
  background: var(--color-1);
  color: white;
  padding: 1rem;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background: var(--color-3);
  color: white;
}
.logo:hover {
  background: var(--color-3);
}
/* img {
  width: 100%;
} */
.box {
  background: white;
  box-shadow: var(--shadow);
  padding: 1rem;
}

.big-on-hover:hover {
  -ms-transform: scale(2,2); /* IE 9 */
  transform: scale(2,2);
  transition-duration: 2s;
}

/* Grid container */
.wrapper {
    display: grid;
    gap: 1.5rem 0;
}
.header {
  background: var(--color-2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  justify-items: center;
  padding: 1rem;  
}
.prenota {
  align-content: space-around;
  color: white;
  display: grid;
  font-size: 2rem;
  grid-template-rows: auto;
}
.nav-menu ul{
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
  list-style: none;
  padding: 0;
}
.nav-menu li {
  box-shadow: var(--shadow);
}
.nav-menu a {
  display: block;
  font-size: 1.5rem;
  padding: 1rem 0;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
}
.nav-menu a:hover {
  background: var(--color-3);
  color: white;
  text-decoration: underline;
}

/* Bio */
.bio {
  background: var(--color-2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  padding: 1rem;
  justify-items: center;
}

.bio-breve {
  font-size: 1.5rem;
}
/* Terapie */
.terapie {
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  padding: 1rem;
  text-align: center;
}
.terapie ul {
  list-style: none;
}
.terapie li {
  padding: 1.5rem 0;
}
.terapie a:link {
  text-decoration: none;
}
.terapie a:hover {
  text-decoration: underline;
}
.terapie-foto {
  display: grid;
  gap: 1rem;
  align-content: space-around;
  grid-template-columns: repeat(3, 1fr);
  padding: 1rem;
}
/* Testimonianze */
.testimonianze {
  background: var(--color-1);
  display: grid;
  font-size: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 1rem;
  padding: 1rem;
}
.section-heading {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
}

/* Footer */
.footer {
  background: var(--color-3);
  color: var(--color-2);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: auto;
  padding: 1rem;
}
.footer h5 {
  text-transform: uppercase;
}
.copy {
  grid-column: 1 / 5;
  padding-top: 2rem;
  text-align: center;
}
.legal a:link {
  color: var(--color-2);
}
iframe {
    width: 90%;
}

@media(max-width: 500px) {
  /* Menu displayed in row */
  .nav-menu ul{
    grid-template-columns: 1fr;
  }
  .footer {
    grid-template-columns: 1fr;
    text-align: center;
  }
  .mappa, .orari, .contatti, .indirizzo, .legal {
    grid-column-start: 1;
  }
}

/* Pagina contatti*/
.wrapper-contatti {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}
.box-telefono, .box-email, .box-orari, .box-indirizzo, .box-mappa {
  font-size: 2rem;
  text-align: center;
}
.box-mappa {
  display: grid;
  gap: 1rem;
  grid-column: 1 / span 3;
  grid-template-columns: repeat(2, 1fr);
}
@media(max-width: 580px){
  .wrapper-contatti, .terapie-foto, .box-mappa {
    grid-template-columns: 1fr;
    gap: 1rem 0;
  }
  .nav-menu a {
    font-size: 1rem;
  }
  .box, .nav-menu, .box-telefono, .box-email, .box-orari, .box-indirizzo, .box-mappa {
    font-size: 1rem;
    grid-column-start: 1;
  }
  iframe {
    width: 100%;
  }
}